
 .navbar li{
display: inline;
list-style-type: none;
padding: .5em;
}

.navbartext{
  text-decoration: none;
  color: black;
}
.navbartext:hover{
  text-decoration: underline;
}
.navbar-container{
  text-align: right;
}
.main-container{
  text-align: center;
  margin-top: 15%;
}
.button{
  height: 8em;
  width: 16em;
  background-color: lightgrey;
  margin-right: 1em;
  margin-top: 5%;
  display: inline;
  font-size: .5em;
  padding: 1em 8em 1em 8em;

}
.button-text{
  margin-top: 4%;
}
