
 .navbar li{
display: inline;
list-style-type: none;
padding: .5em;
}

.navbartext{
  text-decoration: none;
  color: black;
}
.navbartext:hover{
  text-decoration: underline;
}
.navbar-container{
  text-align: right;
}
.main-container{
  text-align: center;
  margin-top: 15%;
}
.button{
  height: 4em;
  width: 16em;
  background-color: lightgrey;
  margin-right: 1em;
  margin-top: 2%;
  display: inline;
}

.bigdiv{
  position: relative;
  margin-bottom: 0;

}
.footer{
  width:100%;
  background-color: lightgrey;
  height: 3em;
  vertical-align: middle;
  position:absolute;
  margin-top: 18%;
}


 .firstListContainer li{
float:left;
 margin-right:.5em;
 }
 .secondListContainer li{
   margin-right:.5em;
   float: right;

 }
 .firstListContainer li a{
text-decoration: none;
color: black;

}
.secondListContainer li a{
  text-decoration: none;
  color:black;

}
ul{
  list-style-type: none;
}
.firstListContainer li a:hover{
  text-decoration: underline;
  color: darkgrey;
}
.secondListContainer li a:hover{
  text-decoration: underline;
  color: darkgrey;
}
